---
---

$sidebar-width: 280px
$navbar-height: 3.25rem
$footer-height: calc(9rem + 2rem + 2px) // footer padding + wrapper padding + p padding

html
    height: 100%
    
body
    min-height: 100%
    display: flex
    min-height: 100vh
    flex-direction: column

#main
    flex: 1


body.has-navbar-fixed-top
    .sidebar
        top: $navbar-height

.sidebar
    position: fixed
    width: $sidebar-width
    padding: 1rem
    bottom: $footer-height
    
    &.is-left
        left: 0

    &.is-right
        right: 0


@media screen and (min-width: 960px + 128px) // bulma desktop
    .has-sidebar
        &.is-left
            margin-left: $sidebar-width
        &.is-right
            margin-right: $sidebar-width

#main
    h1, h2, h3
        // fix for anchor navigation
        margin-top: -$navbar-height
        padding-top: $navbar-height

#hero-header
    img
        height: 3rem
    